.font-face-gsb {
   font-family: "GilroySB";
 }

 .font-face-m {
   font-family: "GilroyM";
 }

 .font-face-r {
   font-family: "GilroyR";
 }

 .font-face-b {
  font-family: "GilroyB";
}

.font-link {
  font-family: 'Inter', sans-serif;
}